* {
    box-sizing: border-box;
}

body { 
    min-height: 100vh; 
    margin: 0;
}

.grid-container,
.column {
    background-color: orange;
}

.grid-container {
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    position: relative;
}

.row {
    display: flex;
    flex: 1;
}

.column {
    flex: 1;
    display: flex;
    align-items: center; 
    justify-content: center;  
}

button {
    color: white;
    border-radius: 12px;
    height: 40px;
    font-size: 16px;
    position: absolute;
    margin: 10px;
}

.grid-button {
    background-color: rgb(184, 19, 19);
    width: 150px;
    top: 0;
    left: 0;
}

.background-button {
    background-color: green;
    width: 200px;
    top: 0;
    right: 0;
}

.active {
    background-color: skyblue;
}
